@page
@model PPSAMPLE_BOOKSHOP.Pages.Books.DetailsModel
@{
}

<h1>Details</h1>

<div>
    <h4>Aufgaben</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBook.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBook.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBook.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBook.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBook.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBook.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBook.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBook.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBook.AudioBook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBook.AudioBook)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>



